*{
    margin: 0;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
font-feature-settings: "liga", "kern"
}


.header{
    width: 100vw;
    height: 190px;
    background-color: #BA131Aed;
}

.topHeader{
    width: 100vw;
    height: 40px;
    background-color: #9D0B0E;
}

.bottomHeader{
    width: 100vw;
    height: 40px;
    margin-top: 60px;
    background-color: #9D0B0E;
}

.ul li{
    display:inline-block;
    color: white;
    margin-right: 80px;
}

.ul2 li{
    display:inline-block;
    color: white;
    padding: 10px;
    margin-right: 120px;
}

.elementTwo{
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
}

.H1{
    color: white;
    font-size: 25px;

}

.orfLogo{
   
    height: 45px;
    margin-left: 150px;
}