*{
    margin: 0;
    font-family: "ORF ON",Arial,Helvetica,Lucida Sans Unicode,Lucida Grande,sans-serif;
font-feature-settings: "liga", "kern"
}


.header{
    width: 100vw;
    height: 190px;
    background-color: #BA131Aed;
}

.topHeader{
    width: 100vw;
    height: 40px;
    background-color: #9D0B0E;
}

.bottomHeader{
    width: 100vw;
    height: 40px;
    margin-top: 40px;
    background-color: #9D0B0E;
}

.ul li{
    display:inline-block;
    color: white;
    margin-right: 80px;
}

.ul2 li{
    display:inline-block;
    color: white;
    padding: 10px;
    margin-right: 120px;
}

.elementTwo{
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
}

.H1{
    color: white;
    font-size: 25px;
    margin-top: 40px;
}

.orfLogo{
   position: absolute;
    height: 45px;
    left: 140px;
    top: 75px;

}

.backgroundImg{
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 70vh;
}

.whiteBox{
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 100vw;
    height: 100px;
}


.whiteBoxTwo{
    position: absolute;
    bottom: 0px;
    background-color: white;
    left: 16vw;
    width:70vw;
    height: 200px;
}

.coronavirusText{
    color: gray;
    padding: 25px;
    font-size: 20px;
}

.headerTwo{
    padding-left: 200px;
    padding-bottom: 40px;
    font-size: 35px;

}

.textTwo{
    font-size: 25px;
}
