.boxSmall{
    border: solid black 2px;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.boxBig{
    border: solid black 2px;
    width: 300px;
    height: 150px;
    margin: 10px;
}

.container{
    border: black solid 2px;
    width: 600px;
    height: 200px;
}

